<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Cadastro</title>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="Description" content="Home">
    <meta name="Keywords" content="Home, html, web">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link id="acessibilidadeCss" rel="stylesheet" href="../estilo.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
           <script>
        $(document).ready(function(){
        $('#celular').mask('(99)9-9999-9999');
        });
        </script>
  </head>
  <body style="width:100%;">      
        <section> 
                <h1 id="titulo1_cadastro">Criar consulta</h1>
            <form name="cadastro" id="cadastro" method="post" action="/cadastro/consulta/salvar">
                <div id="cadastro_left">
                            <label for="data" class="required"> data</label><br>
                            <input type="text" name="data" id="data" placeholder="Data" required>
                            
                            <label for="crm médico" class="required"><br>CRM</label><br>
                            <input type="number" name="crm" id="crm" placeholder="Somente números" required>
                  </div>
                <div id="cadastro_right">
                        <label for="cpf"> CPF paciente</label><br>
                        <input type="tel" name="cpf" id="cpf_paciente" placeholder="Somente números">
                        <br>
                        <input type="submit" name="salvar">
                </div>
                </form>
           </section>
       <!--Rodapé-->
       <footer id="rodape">
           Todos os direitos reservados &copy; 2021
       </footer>
    </body>
</html>